
html { 
height: 100%; 
	 min-width:940px;
	 min-height:700px;
}

body {
	margin:0px;
	 font-family: 'Abel';
	 text-align: center;
	 width: 133vh;
	 /* width: 100%; */
	 height:100%;
	 min-width:940px;
	 min-height:700px;
	 margin-right: auto;
	 margin-left : auto;
	 background:black;
	 /* background-image: url("img/main_back.gif") */
 }

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	align-content: space-between;
	 background-image: url("img/main_centerback.png")
}

#logo {
    position: relative;
    width: 25%;
	margin: 15px;
}
#logo:before {
    content:"";
    display: block;
    padding-bottom:100%;
}
#commit{
    position: relative;
    width: 60%;
	margin: 15px;
	background:lightgray;
}
#commit:before {
    content:"";
    display: block;
    padding-bottom:75%;
}
#video{
    position: relative;
    width: 25%;
	margin: 15px;
	background: black;
}
#video:before {
    content:"";
    display: block;
    padding-top:75%;
}
#youtubeframe{
    position: relative;
    width: 80%;
	height:0%;
	/* background: black; */
  margin: auto;
  margin-top:10%;
  word-wrap:break-word;
  font-size:3vh;
}
#youtubeframe:before {
    content:"";
    display: block;
    padding-top:75%;
}
#youtubeframe2{
    position: relative;
    width: 80%;
	height:33%;
	/* background: black; */
  margin: auto;
  margin-top:10%;
  word-wrap:break-word;
  font-size:3vh;
background-image:url("img/YouTube.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
#youtubeframe2:before {
    content:"";
    display: block;
    padding-top:75%;
}
#bgm{
    position: relative;
    width: 33%;
	margin: 15px;
	background:lightgray;
}
#bgm:before {
    content:"";
    display: block;
    padding-top:136.3%;
}
#image{
    position: relative;
    width: 40%;
	margin: 15px;
	background:lightgray;
}
#image:before {
    content:"";
    display: block;
    padding-top:46.875%;
}


#hacktime{
    position: absolute;
	top:26%;
    width: 133vh;
	min-width:940px;
	text-align: center;
	background: black;
}
#hacktime:before {
    content:"";
    display: block;
    padding-top:10%;
}

.outer{
  position: relative;
  width:100%;
  height:100%;
}
.inner{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 500px;
  height: 80px;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color: yellow; */
	 background-image: url("img/main_contentback.png")
}

#contentline {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-color: black;
  border: 1px solid #ccc;
}

.flexImage {
	width:100%;
	height:100%;
	display: flex;
	flex-direction: row;
}

.imagecover {
  object-fit: cover;
  /* position: absolute; */
  height: 80%;
  width: 40%;
  /* background: black; */
  margin: 5%;
  /* border: 1px solid #ccc; */
background-image:url("img/image.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.imagetext {
    position: relative;
  height: 80%;
  width: 45%;
  word-wrap:break-word;
  font-size:3vh;
  /* background-color: black; */
  /* margin: 5%; */
  margin-left: 0%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
}
/* .imagetext:before {   */
/*     content:"";       */
/*     display: block;   */
/*     padding-top:100%; */
/* }                     */
