#youtube-movie {
  margin: 0 auto;
  width: 100%;
  max-width: 640px; /* 最大の横幅 */
}
 
#youtube-movie-content {
  margin-top: 20%;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
  background-image:url("img/YouTube.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
 
#youtube-movie-content iframe {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}