<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="/stylesheets/style.css" />

    <!--スクリプト読み込み-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>test title</title>
</head>
    <body>
        <h1 id="text">Hello World</h1>

        
        <!--コメントアウトを外すことでグローバルIP，ローカルIP，localhostを切り替える  -->
     
           
             
               <a href="https://slack.com/oauth/authorize?client_id=254821626421.255281971077&scope=client&redirect_uri=https://ec2-13-115-41-122.ap-northeast-1.compute.amazonaws.com:3000/oauth/slack">
                <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
            </a>    

               
             <!-- <a href="https://slack.com/oauth/authorize?client_id=254821626421.255281971077&scope=client&redirect_uri=https://172.20.11.172:3000/oauth/slack">
                <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
            </a>     -->

            <!-- <a href="https://slack.com/oauth/authorize?client_id=254821626421.255281971077&scope=client&redirect_uri=https://localhost:3000/oauth/slack">
                <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
            </a>   -->
        
    </body>
</html>
