<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="/stylesheets/style.css" />

    <!--スクリプト読み込み-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>test title</title>
</head>
    <body>
        <h1 id="text">Hello World</h1>
    </body>
</html>