<!DOCTYPE html>
<html>
<!-- <div class="example">
  <img src="/views/sample.jpg" />
  <p>SUNSET</p>
</div> -->

<head>
     <link rel="stylesheet" href="/stylesheets/style.css" />

    <!--スクリプト読み込み-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>HackHack</title>
    <link rel="shortcut icon" href="/stylesheets/img/icon.png" type="image/png">

</head>

    <body>

      <!-- <BODY background="sample.jpg"> -->
        <!-- <h1 id="text">HackHack</h1> -->
        <p>
            <div id="logo_image" class="content">
            <img src="/stylesheets/img/img_2.png" alt="代替え文章" >
            </div>
        </p>
        <p>
            <div id="main_image" class="content">
            <img src="/stylesheets/img/img_1.png" alt="代替え文章" >
            </div>
        </p>

              <!-- <a href="https://slack.com/oauth/authorize?client_id=254821626421.255281971077&scope=channels:write&redirect_uri=https://13.115.41.122:3000/oauth/slack"> -->


        <!-- コメントアウトを外すことでグローバルIP，ローカルIP，localhostを切り替える  -->
            <!-- <div id="button_image" class="content"> -->


            <a href="https://192.168.128.102:3000/main">
                <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
            </a>
            <a href="https://slack.com/oauth/authorize?client_id=254821626421.255281971077&scope=client&redirect_uri=https://192.168.128.102:3000/oauth/slack">
              <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
          </a>
               

            <!-- <a href="https://slack.com/oauth/authorize?client_id=254821626421.255281971077&scope=client&redirect_uri=https://13.115.41.122:3000/oauth/slack">
                <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
            </a>   -->

    </body>
</html>
