<!DOCTYPE html>

<html >
	<head>
		<meta charset="UTF-8">
		<title>hackhack</title>

		<!-- <link rel="stylesheet" href="/stylesheets/grid_main.css"> -->
		<link rel="stylesheet" href="/stylesheets/grid_main.css">
		<link rel="stylesheet" href="/stylesheets/commit_balloon.css">
		<link rel="stylesheet" href="/stylesheets/youtube_responsive.css">

		<script type="text/javascript" src="/javascripts/staticIP.js"></script>
		<script type="text/javascript" src="/javascripts/commit_balloon.js"></script>
		<script type="text/javascript" src="/javascripts/timer.js"></script>
		<script type="text/javascript" src="/javascripts/main.js"></script> 


		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.js"></script>
		<script type="text/javascript" src="/assets/js/nicoscreen.js"></script>
		<script type="text/javascript" src="https://cdn.webrtc.ecl.ntt.com/skyway-1.0.1.js"></script> 
		<script type="text/javascript" src="/javascripts/SkyWay-MultiParty-master/dist/multiparty.js"></script>

		<style> video { width:100%;height:auto; } </style>
		
	</head>

	<body>

		<div id="hacktime">
			<div id="contentline">
				<div class="outer">
					<div class="inner">
						<script type="text/javascript" src="//countdown.reportitle.com/js/neo1.js"></script>
						<a href="//countdown.reportitle.com/">カウントダウンタイマー</a>
						<script type="text/javascript" src="//countdown.reportitle.com/js/neo2.js"></script>
					</div>
				</div>
			</div>
		</div>


		<div class="flex">		
			<div id="logo">
				<div id="content">
					<img src="http://mashupaward.jp/wp-content/uploads/2016/11/3e9b440ec45a27664f61932c3d21e3b8.png" class="cover">
				</div>
			</div>


			<div id="image">
				<div id="content">
					<div class="flexImage">
						<!-- <img class="imagecover" id="icon"src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Picture_font_awesome.svg/512px-Picture_font_awesome.svg.png"> -->
						<img class="imagecover" id="icon">
						<div class="imagetext" id="word"></div>
					</div>
				</div>
			</div>


			<div id="video">
				<div id="content">
					<div id="nicoscreen" style="width:100%;height:auto"> 
						<div id="videowrapper">
							<div id="streams"></div>
						</div>
					</div>
				</div>
			</div>


			<div id="bgm">
				<div id="content">
					<!-- youtube player  by takaya -->
						<div id="youtube-movie">
							<div id="youtube-movie-content" >
								<div id="player"></div>
							</div>
						</div>
					
					<div id="youtubeframe">	
						<div id="username"></div><br>
					</div>

					<br>
					<div style ="font-size: 3vw">
						<span id="musicid"></span>/<span id="allMusicNum"></span>
					</div>
				</div>
			</div>


			<div id="commit">
				<div id="content">
					<div id="commitcontent"></div>
					<form name="form1" id="id_form1" action="">                            
					<p>チーム<input type="text" id="id_tname" name="tname" value="">    
					チーム番号<input type="number" name="tnum" id="tnumbox" value=""> 
					コミット数<input type="number" name="noc" id="nocbox" value="">   
					add<input type="number" name="add" id="addbox" value="">               
					del<input type="number" name="del" id="delbox" value="">               
					コメント<input type="text" name="comment" id="commentbox" value="">
					<input type="button" value="OK" onclick='viewBalloon();'/>             
					<!-- git班が各部分はここ!!!!!!!!!!! -->
					</form>                                                                 
				</div>
			</div>
		</div>
		<!-- youtube.jsの読み込みは</body>の直前で行うこと -->
		<!-- <script src="/javascripts/youtube.js"></script> -->

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
		<script type="text/javascript" src="/javascripts/speaker.js"></script>
		<script type="text/javascript" src="/javascripts/mediaRecoder.js"></script>
		<script type="text/javascript">nicoscreen.set(nicoScreenObj);nicoscreen.start();</script> 
		<script src="/javascripts/youtube.js"></script>
	</body>

</html>
