<!DOCTYPE html>

<html >
	<head>
		<meta charset="UTF-8">
		<title>hackhack</title>

		<!-- <link rel="stylesheet" href="/stylesheets/grid_main.css"> -->
		<link rel="stylesheet" href="/stylesheets/grid_main_test.css">
		<link rel="stylesheet" href="/stylesheets/commit_balloon.css">

		<script type="text/javascript" src="/javascripts/commit_balloon.js"></script> 
		<script type="text/javascript" src="/javascripts/timer.js"></script> 
		<script type="text/javascript" src="/javascripts/main.js"></script> 
	</head>

	<body>

		<div id="hacktime">
			<div id="content">
				<script type="text/javascript" src="//countdown.reportitle.com/js/neo1.js"></script>
				<a href="//countdown.reportitle.com/">カウントダウンタイマー</a>
				<script type="text/javascript" src="//countdown.reportitle.com/js/neo2.js"></script>
			</div>
		</div>


		<div class="flex">		
			<div id="icon">
				<div id="content">
					<img src="http://mashupaward.jp/wp-content/uploads/2016/11/3e9b440ec45a27664f61932c3d21e3b8.png" class="cover">
				</div>
			</div>


			<div id="image">
				<div id="content">
					<div id="word"></div>
					<img id="icon">
				</div>
			</div>


			<div id="video">
				<div id="content">
					<p>video</p>
				</div>
			</div>


			<div id="bgm">
				<div id="content">
					<!-- youtube player  by takaya -->
					<div id="player"></div>
					<div id="username"></div><br>
					<div id="musicid"></div>/<div id="allMusicNum"></div>
				</div>
			</div>


			<div id="commit">
				<div id="content">
					<div id="content"></div>
					<!-- <form name="form1" id="id_form1" action="">                              -->
					<!-- 	<p>チーム<input type="text" id="id_tname" name="tname" value="">     -->
					<!-- 	チーム番号<input type="number" name="tnum" id="tnumbox" value="">  -->
					<!-- 	コミット数<input type="number" name="noc" id="nocbox" value="">    -->
					<!-- 	add<input type="number" name="add" id="addbox" value="">                -->
					<!-- 	del<input type="number" name="del" id="delbox" value="">                -->
					<!-- 	コメント<input type="text" name="comment" id="commentbox" value=""> -->
					<!-- 	<input type="button" value="OK" onclick='viewBalloon();'/>              -->

					<!-- git班が各部分はここ!!!!!!!!!!! -->

					<!-- </form>                                                                  -->
				</div>
			</div>
		</div>
		<!-- youtube.jsの読み込みは</body>の直前で行うこと -->
		<script src="/javascripts/youtube.js"></script>
	</body>

</html>
