<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
     <link rel="stylesheet" href="/stylesheets/style.css" />


    <!--スクリプト読み込み-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>
    <script type="text/javascript" src="/javascripts/youtube.js"></script>

  </body>
</html>