<!DOCTYPE HTML>
<html>
<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

</head>
<body>

  <span style="display:none;" id="desturl"><%= action %></span>
  <script type="text/javascript" src="/javascripts/redirect.js"></script> 
</body>
</html>
